<section id="contact" class="contact">
  <div class="container">
    <h2>{{ 'contact.title' | translate }}</h2>
    <p class="contact-intro">{{ 'contact.description' | translate }}</p>
    
    <div class="contact-content">
      <div class="contact-person">
        <img src="bride.svg" alt="Novia" class="contact-icon">
        <h3>{{ 'contact.bride' | translate }}</h3>
        <p class="contact-name">Bety</p>
        <a href="https://wa.me/524491839173?text=Hola, vi el sitio de su boda..." class="phone-number" target="_blank">+52 449 183 9173</a>
      </div>
      
      <div class="contact-person">
        <img src="groom.svg" alt="Novio" class="contact-icon">
        <h3>{{ 'contact.groom' | translate }}</h3>
        <p class="contact-name">Erick</p>
        <a href="https://wa.me/524492256341?text=Hola, vi el sitio de su boda..." class="phone-number" target="_blank">+52 449 225 6341</a>
      </div>

      <div class="contact-person">
        <img src="bridesmaid.svg" alt="Dama de honor" class="contact-icon">
        <h3>{{ 'contact.bridesmaid' | translate }}</h3>
        <p class="contact-name">Brenda</p>
        <a href="https://wa.me/524498231350?text=Hola, vi el sitio de la boda de Bety y Erick..." class="phone-number" target="_blank">+52 449 225 6341</a>
      </div>
    </div>
  </div>
</section>
