<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Bety & Erick</h3>
        <p>{{ 'footer.note' | translate }}</p>
      </div>
      
      <div class="footer-section">
        <h4>{{ 'footer.info' | translate }}</h4>
        <p>{{ 'footer.date' | translate }}</p>
        <p>{{ 'footer.place' | translate }}</p>
      </div>
      
      <div class="footer-section">
        <h4>{{ 'footer.contact' | translate }}</h4>
        <p>{{ 'footer.contact.subtitle' | translate }}</p>
        <p>{{ 'footer.love' | translate }}</p>
      </div>
      <p><img src="heart.svg" alt="corazón" class="heart-icon"></p>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ 'footer.rights' | translate }}</p>
    </div>
  </div>
</footer>
