<section id="location" class="location-section">
  <div class="container">
    <h2>{{ 'location.title' | translate }}</h2>
    <p class="location-intro">{{ 'location.description' | translate }}</p>
    
    <div class="location-details">
      <h3>Quinta Sarai</h3>
      <p class="address">Aguascalientes, México</p>
    </div>
    
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3701.5458620838313!2d-102.36941660000004!3d21.913557000000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e9c83aef130f%3A0x6e2fa388f7fa78b3!2sQuinta%20Sarai!5e0!3m2!1ses!2smx!4v1757885103255!5m2!1ses!2smx" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        class="map-iframe">
      </iframe>
    </div>
    
    <div class="location-info">
      <p>{{ 'location.info' | translate }}</p>
    </div>
  </div>
</section>
