<section id="itinerary" class="itinerary-section">
  <div class="hearts-decoration">
    <img src="heart.svg" alt="" class="heart heart-1">
    <img src="heart.svg" alt="" class="heart heart-2">
    <img src="heart.svg" alt="" class="heart heart-3">
    <img src="heart.svg" alt="" class="heart heart-4">
    <img src="heart.svg" alt="" class="heart heart-5">
    <img src="heart.svg" alt="" class="heart heart-6">
    <img src="heart.svg" alt="" class="heart heart-7">
    <img src="heart.svg" alt="" class="heart heart-8">
    <img src="heart.svg" alt="" class="heart heart-9">
    <img src="heart.svg" alt="" class="heart heart-10">
    <img src="heart.svg" alt="" class="heart heart-11">
    <img src="heart.svg" alt="" class="heart heart-12">
    <img src="heart.svg" alt="" class="heart heart-13">
    <img src="heart.svg" alt="" class="heart heart-14">
    <img src="heart.svg" alt="" class="heart heart-15">
    <img src="heart.svg" alt="" class="heart heart-16">
  </div>
  <div class="container">
    <h2>{{ 'itinerary.title' | translate }}</h2>
    <p class="itinerary-intro">{{ 'itinerary.description' | translate }}</p>
    
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-time">7:00 PM</div>
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img src="wedding-day.svg" alt="Bienvenida" class="timeline-icon">
            <h3>{{ 'itinerary.welcome.title' | translate }}</h3>
          </div>
          <p>{{ 'itinerary.welcome.description' | translate }}</p>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-time">7:30 PM</div>
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img src="wedding-rings.svg" alt="Ceremonia" class="timeline-icon">
            <h3>{{ 'itinerary.ceremony.title' | translate }}</h3>
          </div>
          <p>{{ 'itinerary.ceremony.description' | translate }}</p>
        </div>
        </div>
      
      <div class="timeline-item">
        <div class="timeline-time">8:30 PM</div>
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img src="food.svg" alt="Cena" class="timeline-icon">
            <h3>{{ 'itinerary.dinner.title' | translate }}</h3>
          </div>
          <p>{{ 'itinerary.dinner.description' | translate }}</p>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-time">9:15 PM</div>
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img src="party.svg" alt="Brindis" class="timeline-icon">
            <h3>{{ 'itinerary.drink.title' | translate }}</h3>
          </div>
          <p>{{ 'itinerary.drink.description' | translate }}</p>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-time">9:45 PM</div>
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img src="music.svg" alt="Bailar" class="timeline-icon">
            <h3>{{ 'itinerary.dance.title' | translate }}</h3>
          </div>
          <p>{{ 'itinerary.dance.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
