<section id="dress-code" class="dress-code">
  <div class="container">
    <h2>Para tomar en cuenta</h2>
    
    <div class="dress-code-content">
      <div class="formal-attire">
        <div class="attire-icons">
          <img src="dress.svg" alt="Vestido formal" class="dress-icon">
          <img src="suit.svg" alt="Traje formal" class="suit-icon">
        </div>
        <h3>Atuendo Formal</h3>
      </div>
      
      <div class="white-dress-notice">
        <p>Con mucho cariño, les pedimos que el color blanco sea exclusivo para la novia en este día tan especial.</p>
      </div>
    </div>
  </div>
</section>
