<section id="dress-code" class="dress-code">
  <div class="wave-top">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0L48,10.7C96,21,192,43,288,37.3C384,32,480,0,576,0C672,0,768,32,864,37.3C960,43,1056,21,1152,10.7L1200,0L1200,120L0,120Z" opacity="0.3"></path>
      <path d="M0,0L50,16C100,32,200,64,300,69.3C400,75,500,53,600,48C700,43,800,53,900,58.7C1000,64,1100,64,1150,64L1200,64L1200,120L0,120Z" opacity="0.6"></path>
      <path d="M0,0L40,21.3C80,43,160,85,240,96C320,107,400,85,480,74.7C560,64,640,64,720,69.3C800,75,880,85,960,85.3C1040,85,1120,75,1160,69.3L1200,64L1200,120L0,120Z"></path>
    </svg>
  </div>
  <div class="container">
    <h2>{{ 'dress-code.title' | translate }}</h2>
    
    <div class="dress-code-content">
      <div class="formal-attire">
        <div class="attire-icons">
          <img src="dress.svg" alt="Vestido formal" class="dress-icon">
          <img src="suit.svg" alt="Traje formal" class="suit-icon">
        </div>
        <h3>{{ 'dress-code.subtitle' | translate }}</h3>
      </div>
      
      <div class="white-dress-notice">
        <p>{{ 'dress-code.description' | translate }}</p>
      </div>
    </div>
  </div>
</section>
