<section id="faq" class="faq">
  <div class="container">
    <div class="faq-content">
      <img src="chico.png" alt="Niños" class="faq-image">
      <div class="faq-message">
        <p>{{ 'faq.kids1' | translate }}</p>
        <p>{{ 'faq.kids2' | translate }}</p>
      </div>
      
      <img src="sin-telefono.png" alt="Sin teléfono" class="faq-image" style="margin-top: 40px;">
      <div class="faq-message">
        <p>{{ 'faq.phone1' | translate }}</p>
        <p>{{ 'faq.phone2' | translate }}</p>
      </div>
      
      <img src="hand-ring.jpeg" alt="Anillo en la mano" class="faq-ring" style="margin-top: 40px;">
    </div>
  </div>
  
  <div class="wave-bottom">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,120L48,109.3C96,99,192,77,288,82.7C384,88,480,120,576,120C672,120,768,88,864,82.7C960,77,1056,99,1152,109.3L1200,120L1200,0L0,0Z" opacity="0.3"></path>
      <path d="M0,120L50,104C100,88,200,56,300,50.7C400,45,500,67,600,72C700,77,800,67,900,61.3C1000,56,1100,56,1150,56L1200,56L1200,0L0,0Z" opacity="0.6"></path>
      <path d="M0,120L40,98.7C80,77,160,35,240,24C320,13,400,35,480,45.3C560,56,640,56,720,50.7C800,45,880,35,960,34.7C1040,35,1120,45,1160,50.7L1200,56L1200,0L0,0Z"></path>
    </svg>
  </div>
</section>
